$mainColor: #063C76;
$skillsColor: #189890;
$tempColor: #A2CD4D;
$projectColor: #2ad568;
$projectsColor: #c15bcd;
$iconBackground: #EFDAD3;
$contactColor: #F98F52;
$contactBackground: #FF7659;
$contactInputBackground: #ffd7cc;
$contactDivBackground: #ffa39d;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content
  }
}

.next {
  position: absolute;
  bottom: 30px;
  left: 50%;

  img {
    width: 30px;
    animation: arrowBlink 2s infinite;
  }

  @keyframes arrowBlink {
    to {
      opacity: 0;
    }
  }
}